<div class="container">
  <div class="row glo-font header-style">
      <h2>Get in Touch</h2>
  </div>
  <div class="row">
    <p class="glo-font text-font">
      Our company is helping thousands of customers with the Offset Printing. If you have any queries or want to to do business with us,  
    </p>
    <p class="glo-font text-font">
      Please contact us on the below given number.
    </p>
  </div>
  <div class="row glo-font header-style">
    <div class="col-lg-3 padding-style">
      <b>Offset Printing</b>
      <p class="text-font">Shop no-2, block 809, thane, bhelpuri road, thane 420091</p>
    </div>
    <div class="col-lg-9">
      <b>Phone</b>
      
    </div>
  </div>
</div>
