<div class="container-fluid">
    <div class="row glo-background">
      <div class="col-lg-6">
        <div class="pull-left">
          <img src="../../../assets/Images/Offset.jpg">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pull-right">
          <nav class="navbar navbar-default glo-background glo-no-border navigation">
                <ul class="nav navbar-nav">
                  <li><a routerLink='/home'>Home</a></li>
                  <li></li>
                  <li><a routerLink='/products'>Product</a></li>
                  <li><a routerLink = '/contact'>Contact Us</a></li>
                </ul>
            </nav>
          </div>
      </div>
    </div>
</div>